.top-navbar{
    background-color: #1b2034 !important;
    color:white;
    height: 70px !important;
}

.navbar {
   position: unset;
   display: flex;
   flex-wrap: nowrap;
   align-items: baseline;
   justify-content: normal;
   padding: 0.5rem 1rem;
}

.navbar-collapse {
   flex-basis: 100%;
   flex-grow: 1;
   align-items: baseline;
}