<div class="container">
    <div class="row">

        <select class="mdb-select md-form" id="select-location" [(ngModel)]="selectedLocation">
            <option value="" >Choose location</option>
            <option *ngFor="let location of locations">{{location}}</option>
        </select>
      <select class="mdb-select md-form" id="select-model" [(ngModel)]="selectedModel">
        <option value="" >Choose model</option>
        <option *ngFor=" let model of models"  >{{model}}</option>
      </select>

        <button class="btn btn-primary" id="search-btn" class="btn btn-primary" (click)="onSearch()">Search</button>
    </div>
  <div class="raw">
  </div>
      <div id="row-space"></div>
      <div class="main-content" *ngIf="toBeSearch">
        <div class="cars" *ngFor="let car of cars">
          <div class="row" *ngIf="selectedModel == car.model || selectedLocation == car.location">
            <div class="column" class="img-with-text">
              <img src="{{car.imageURL}}"  alt="image" />
             
            </div>
            <div class="column">
              <table class="table table-bordered table-inverse" id="info1-table">
                <tr><th>Model:</th><td>{{car.model}}</td></tr>
                <tr><th>Price:</th><td>{{car.price}}</td></tr>
                <tr><th>Seats:</th><td>{{car.seats}}</td></tr>
                <tr><th>Doors:</th> <td>{{car.doors}}</td></tr>
                <tr><th>Automatic:</th> <td>{{car.automatic}}</td></tr>
                <tr><th>AirConditioning:</th><td>{{car.airConditioning}}</td></tr>
                <tr><th>Available:</th> <td>{{car.available}}</td></tr>
                <tr><th>Location:</th><td>{{car.location}}</td></tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>


