#title{
    font-size: x-large;
    color: white;
    font-family: sans-serif;
    padding-top: 3%;
    margin-left:43%;
}


.loginPageContent{
    align-items: center;
    justify-content: center;
}

.loginForm{
    background-color: rgba(0,0,0,0.55);
    height: auto;
    width: auto;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 2%;

    position: absolute;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 10%;
    width: 550px;
    height: 350px;
}

.icon {
    background: transparent;
    color: white;
    margin-left:10%;
  }

.loginForm input{
    display:block;
    margin:auto;
    width:60%;
    outline:none;
    background:transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;

    position:relative;

    font-family: sans-serif;
    color:white;
}

.loginForm input::placeholder{
    color:white;
    background-color:transparent;
    font-family: sans-serif;
}

.loginForm button{
    background: transparent;
    border-color: transparent;
    outline: none;
    font-size: medium;
    color: white;

    font-family: sans-serif;
}

.background-image{

    background-image:url("../../../assets/images/Golden-Circle-Ring-Road-Iceland.jpg");
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;

    width: 100% !important ;
    height: 100vh !important;
    display: flex;
    background-repeat: no-repeat;
    background-size:cover;
    
}

.form-group-btns {
    margin-left: 35%;
    margin-top: 10%;
}

#errorMessage {
    color:red;
}

