<div class="column">
  <table class="table table-bordered table-inverse" id="info1-table">
    <tr><th>Model:</th><td>{{currentCar.model}}</td></tr>
    <tr><th>Price:</th><td>{{currentCar.price}}</td></tr>
    <tr><th>Seats:</th><td>{{currentCar.seats}}</td></tr>
    <tr><th>Doors:</th> <td>{{currentCar.doors}}</td></tr>
    <tr><th>Automatic:</th> <td>{{currentCar.automatic}}</td></tr>
    <tr><th>AirConditioning:</th><td>{{currentCar.airConditioning}}</td></tr>
    <tr><th>Available:</th> <td>{{false}}</td></tr>
    <tr><th>Location:</th><td>{{currentCar.location}}</td></tr>
  </table>
</div>
