<div class="column">
  <table class="table table-bordered table-inverse" id="info1-table">
    <tr><th>Model:</th><td>{{updatedCar.model}}</td></tr>
    <tr><th>Price:</th><td>{{updatedCar.price}}</td></tr>
    <tr><th>Seats:</th><td>{{updatedCar.seats}}</td></tr>
    <tr><th>Doors:</th> <td>{{updatedCar.doors}}</td></tr>
    <tr><th>Automatic:</th> <td>{{updatedCar.automatic}}</td></tr>
    <tr><th>AirConditioning:</th><td>{{updatedCar.airConditioning}}</td></tr>
    <tr><th>Available:</th> <td>{{updatedCar.available}}</td></tr>
    <tr><th>Location:</th><td>{{updatedCar.location}}</td></tr>
  </table>
</div>
