    <div class="page-wrapper bg p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Registration Info</h2>
                    <form>
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Name" name="name">
                        </div>
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Birthdate" name="birthdate">
                        </div>

                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Gender" name="gender">
                        </div>
                       
                        <div class="input-group">
                            <input class="input--style-2" type="text" placeholder="Phone number" name="phone">
                        </div>

                        <div class="p-t-30">
                            <button class="btn btn--radius btn--green" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
